@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$laranja: #ff9d00;
$azul-escuro: #303651;

html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
//////////////////////////HEADER//////////////////////////
header {
    // border: red 1px solid;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    height: 10vh;
    width: 100vw;
    background-color: #cccccced;
    z-index: 1000;
    box-shadow: -1px 14px 20px rgb(0 0 0 / 43%);        
    .logo {
        // border: blue 1px solid;
        height: 100%;
    }

    .list {
        // border: green 1px solid;
        padding: 5px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        li {
            margin: 10px;
            padding: 5px;

            a {
                text-decoration: none;
                color: $azul-escuro;
                padding: 5px;
                padding-bottom: 2px;

                border-bottom: 2px solid transparent;
                transition: border-color .3s ease-in;

                &:hover {
                    border-bottom: 2px solid $laranja;
                }
            }
        }
    }

    .btn {
        // border: black 1px solid;
        background-color: $laranja;
        padding: 11px 25px;
        color: #ffffff;
        border-radius: 5px;
        border: none;
        font-size: 12pt;
        cursor: pointer;
        transition: color .3s ease-in;
        &:hover{
            color: $azul-escuro;
        }
    }
}//////////////////////////HEADER//////////////////////////


//////////////////////////SECTION1//////////////////////////
.section1{
    // border: red solid 1px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 0px 30px;

&:before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../img/back1.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(4.5px);
    transform: scale(1.1); // evita bordas do blur
    z-index: -1;
}
    .content{
        // border: red solid 1px;
        color: #fff;
        height: 50%;
        width: 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            // border: red solid 1px;
            font-size: 25pt;
            width: 70%;
            // margin-left: 0%;
            border-bottom: #fff 1px solid;
        }
        span{
            // border: red solid 1px;
            width: auto;
            padding: 10px 0px;
            
        }
        .button{
            // border: red solid 1px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .ver{
                border: black 1px solid;
                background-color: $laranja;
                padding: 11px 25px;
                color: #ffffff;
                border-radius: 5px;
                border: none;
                font-size: 12pt;
                cursor: pointer;
                transition: color .3s ease-in;
                &:hover{
                    color: $azul-escuro;
                }  
            }
            .saiba{
                border: black 1px solid;
                background-color: #fff;
                padding: 11px 25px;
                color: $azul-escuro;
                border-radius: 5px;
                border: none;
                font-size: 12pt;
                cursor: pointer;
                transition: color .3s ease-in;
                &:hover{
                    color: $laranja;
                }    
            }
        }
    }
    .img{
        // border: red solid 1px;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        img{
            // border: red solid 1px;
            height: 90%;
        }
    }
}//////////////////////////SECTION1//////////////////////////

//////////////////////////SECTION2//////////////////////////
.section2{
    height: 100vh;
    border: red solid 1px ;
}
//////////////////////////SECTION2//////////////////////////